* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth;
}
ul, nav {
    list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	opacity: 0.9;
}

a:hover {
    opacity: 1;
    cursor: pointer;
}

a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

section h3.title {
color: #414a4f;
text-transform: capitalize;
font: bold 32px 'Open Sans', sans-serif;
margin-bottom: 35px;
text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
    font-family: 'Montserrat';
    font-size: 18px;
    margin-bottom: 15px;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin-bottom: 50px;
}

@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}

@media (max-width: 600px){
	section{
		padding: 80px 30px;
	}
}

/*Header*/
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;
}

.focus-style{
    font-family: 'Quicksand', sans-serif;
    color: #2196f3;
}
.place-style{
    font-family: 'Quicksand', sans-serif;
    color: #FDCA00;
}

header nav {
    display: flex;
}

header nav li {
    font: bold 18px 'Open Sans', sans-serif;
    margin: 0 15px;
}

header nav li:first-child {
    margin-left:0; 
}

header nav li:last-child {
    margin-right: 0;
}

@media(max-width: 1000px){
    header {
        padding: 20px 50px;
    }
}

@media(max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }   
}

/* /.Header */
/* Section hero */
.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}
.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-size: cover;
    background-color: #2196f3;
    z-index: -1;
}

.hero .background-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.75;
}

.hero h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.hero h2{
    font: bold 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
    background-color: #ffe05d;
}

.hero a.btn:hover{
    padding: 20px 46px;
    background-color: #FDCA00;
}

@media (max-width: 800px){
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3{
        font-size: 24px;
    }
    .hero a.btn{
        padding:15px 40px;
    }
}

/* /.about-us */
/* Section About Us */

.about-us {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #000000;
    text-align: center;
    padding: 40px 50px;
}
.about-us h1{
    font-family: 'Montserrat';
    font-size: 40px;
    margin-bottom: 15px;    
}
.about-us hr{
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin-bottom: 50px;
}

/* /.services */
/* Section Our Services */
.services{
    background-color:#7ad9ff;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 50px 50px;
}
.services h1{
    font-family: 'Montserrat';
    font-size: 45px;
}
/* Para el interlineado de los parrafos, no se si ponerlo.
.services p{
    line-height : 25px;
}
*/
.services h3{
    font-family: 'Montserrat';
    margin-bottom: 15px;
    margin-top: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 500px 500px;
}

.box1{
    margin: 50px 25px;  
}

.box2{
    margin: 50px 25px;
}

/* Advantages */


.advantages .style-one{
    font-family:'Montserrat';
    font-size: 30px;
    margin-bottom: 15px; 
    color: #000000;
}

.advantages .style-two {
    font-family: 'Montserrat';
    font-size: 30px;
    margin-bottom: 15px; 
    color: #0011ff;
}

.advantages ul {
    margin-top:  20px;
    list-style-type: none;
    text-align: center
}
  
.advantages li {
    display: inline;
}


/* Footer */

footer{
    background-color:#7ad9ff;
    position: relative;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 500px;
}

.footer .box1{
    margin: 50px 25px;  
}

.footer .box2{
    margin: 50px 25px;
}

.box1 ul {
    margin-top:  20px;
    list-style-type: none;
    text-align: center
}
  
.box1 li {
    display: inline;
    margin-right: 20px;
}
 
footer h2{
    font: bold 22px 'Open Sans', sans-serif;
    margin-bottom: 15px;
}
